$base-bg-color: #ffffff;
$main-color: #ED254E;
$secondary-color: #F9DC5C;
$additional-color: #C2EABD;
$dark-color: #011936;
$text-color: #465362;
$body-color: rgb(237, 238, 240);
$note-color: lighten($text-color, 10);