@use 'colors';
@use 'base';

$link-padding: 10px;
$link-hover-bg: darken(colors.$base-bg-color, 5);

.header {
    height: 50px;
    background-color: colors.$base-bg-color;
    display: flex;
}

.main-area {
    flex-grow: 1;
}

.auth-links {
    @include base.flexed;

    > * {
        margin-right: 10px;
    }
}

.logo {
    $text-height: 18px;

    @include base.flexed;

    background-color: colors.$base-bg-color;
    padding: $link-padding;
    font-size: $text-height;
    font-weight: 600;
    text-decoration: none;
    color: colors.$dark-color;
    cursor: pointer;

    * {
        margin-right: 10px;
    }

    img {
        border-radius: .5em;
        border: 2px solid white;
    }
}

.user-toolbar {
    @include base.flexed;
    position: relative;

    .user-info {
        @include base.flexed;
        cursor: pointer;
        padding: 5px 10px;

        & > :not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            background-color: $link-hover-bg;
        }
    }

    .avatar-icon {
        border-radius: 50%;
        border: 2px solid #ed254e;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .actions-handler {
        @include base.flexed;

        padding: 0 5px;
        transition: transform 0.3s ease;

        &--active {
            transform: rotateX(180deg);
        }
    }

    .user-actions {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
        top: 100%;
        box-shadow: 0 0 0 1px $link-hover-bg;
        width: 200px;
        border-radius: 2px;
        background-color: colors.$base-bg-color;
        font-size: 14px;

        &_link {
            display: flex;
            padding: 10px;
            flex-grow: 1;

            &:hover {
                background-color: colors.$base-bg-color;
                box-shadow: 0 4px 2px -2px colors.$main-color;
            }
        }
    }
}
