@import 'colors';
@import "base";
@import "buttons";
@import "header";
@import "forms";
@import "user-page";
@import "links";

html {
    color: $text-color;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

::before {
    box-sizing: border-box;
}

::after {
    box-sizing: border-box;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

a {
    background-color: transparent;
    text-decoration: none;
}

body {
    background-color: $body-color;
}

.body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-y: hidden;

    .sidebar {
        width: 250px;
        background-color: $text-color;
        height: 100%;
    }

    .content {
        flex-grow: 1;
        height: 100%;
    }
}

.container {
    @include flexed;
    height: 100%;
}

.page {
    @include flexed;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.line-separator {
    margin: 15px 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
    letter-spacing: .5px;

    &::after {
        content: '';
        height: 1px;
        background-color: silver;
        flex-grow: 1;
        margin-left: 1em;
    }
}

.note {
    @include note;
}

.info-row {
    @include flexed;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;

    &--label {
        @include note;
        font-size: 14px;
        margin-right: 10px;
        flex-grow: 1;
    }

    &--value {
        color: $text-color;
        font-size: 14px;
    }
}


.user-icon {
    border-radius: 50%;
    border: 2px solid #ed254e;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-container {
    @include flexed;
    justify-content: flex-start;

    .tab {
        padding: $padding;
        display: block;
        margin: 0 5px;

        &--active {
            box-shadow: 0px 2px 0px 0px $main-color;
        }

        &:hover:not(&--active) {
            box-shadow: 0px 2px 0px 0px lighten($main-color, 20);
        }
    }
}