@import 'colors';
@import "base";
@import "buttons";
@import "header";
@import "forms";

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

::before {
    box-sizing: border-box;
}

::after {
    box-sizing: border-box;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

a {
    background-color: transparent;
}
body {
    background-color: $body-color;
}

.body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-y: hidden;

    .sidebar {
        width: 300px;
        background-color: $text-color;
        height: 100%;
    }

    .content {
        flex-grow: 1;
        height: 100%;
    }
}

.container {
    @include flexed;
    height: 100%;
}