$colors: (
    primary: #ef5350,
    primary-dark: #b61827,
    primary-light: #ff867c,
    secondary: #ffb74d,
    secondary-dark: #c88719,
    secondary-light: #ffe97d
);

@function getColor($color-name) {
    @return map-get($map: $colors, $key: $color-name);
}