@import "./colors.scss";

html,
body {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Hind", sans-serif;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

.active {
  background-color: $base-dark-color;
}

.icon {
  display: flex;
  height: 100%;
  align-items: center;
  i {
    font-size: 2em;
  }
}

header {
  display: flex;
  background-color: $base-color;
  flex-direction: row;
  height: 50px;
  position: sticky;
  top: 0;
  .logo-container {
    flex-grow: 1;
    display: flex;
    a {
      height: 100%;
      padding-left: 15px;
      display: flex;
      font-family: "Fugaz One", cursive;
      font-size: 2em;
      background-color: $base-dark-color;
      &::after {
        content: "";
        padding-right: 5px;
        width: 0;
        height: 0;
        border-top: 25px solid $base-color;
        border-bottom: 25px solid $base-color;
        border-left: 10px solid $base-dark-color;
        margin-left: 10px;
      }
    }
    .logo-filler {
      flex-grow: 1;
    }
  }
  nav {
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      height: 100%;
      li {
        list-style: none;
        a {
          padding: 0 10px;
          display: flex;
          text-transform: uppercase;
          font-weight: 600;
          height: 100%;
          align-items: center;
        }
      }
    }
  }
}
