html,
body {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Roboto Mono", monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

input {
  font-family: "Roboto Mono", monospace !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:valid,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
  -webkit-text-fill-color: #000;
  font-family: "Roboto Mono", monospace !important;
}

a {
  color: #fff;
  text-decoration: none;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon i {
  font-size: 2em;
}

#root {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f88379;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  top: 0;
}

#root header .logo-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root header .logo-container a {
  border-radius: 0 50% 50% 0;
  height: 100%;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: "Fugaz One", cursive;
  font-size: 2em;
}

#root header .logo-container a:hover {
  background-color: #f55649;
}

#root header .logo-container .logo-filler {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#root header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root header nav ul li {
  list-style: none;
}

#root header nav ul li a {
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root section.layout {
  height: calc(100% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  overflow: hidden;
}

#root section.layout .left-menu {
  width: 50px;
  background: #f8d076;
}

#root section.layout .left-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root section.layout .left-menu ul li {
  width: 50px;
  height: 50px;
}

#root section.layout .left-menu ul li a {
  width: 100%;
  height: 100%;
  display: block;
}

#root section.layout .left-menu ul li a:hover {
  background: #f55649;
}

#root section.layout .left-menu ul li a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root section.layout .page-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#root .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .login-form img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#root .login-form h1 {
  padding: 0;
  margin: 0 0 20px 0;
}

#root .login-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .login-form form p {
  padding: 0;
  margin: 0;
  width: 100%;
  font-weight: bold;
}

#root .login-form form input {
  width: 100%;
  margin-bottom: 20px;
}

#root .login-form form input[type="text"], #root .login-form form input[type="password"] {
  border: none;
  border-bottom: 1px solid #f88379;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
}

#root .login-form form button {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  outline: none;
  height: 40px;
  background-color: #f88379;
  font-size: 18px;
  border-radius: 20px;
  -webkit-filter: contrast(1);
          filter: contrast(1);
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

#root .login-form form button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px #f55649;
          box-shadow: 0px 0px 3px #f55649;
}

#root .login-form form a {
  color: #f88379;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
}

#root .login-form form a:hover {
  color: #f8d076;
}

.friends-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friends-list .card {
  margin-right: 50px;
  height: 250px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
  width: 450px;
  overflow: hidden;
  position: relative;
  margin: 50px;
}

.friends-list .card h1 {
  text-align: center;
}

.friends-list .card:hover .main {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.friends-list .card .main {
  position: absolute;
  width: 150px;
  height: 100%;
  background: #f88379;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.friends-list .card .main .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.friends-list .card .main .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.friends-list .card .main .user-card .status {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.friends-list .card .main .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.friends-list .card .main .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.friends-list .card .main .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.friends-list .card .main .coords span + span {
  float: right;
}

.friends-list .card .main .stats {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.friends-list .card .main .stats > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.friends-list .card .main .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.friends-list .card .main .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.friends-list .card .main .stats div.value.infinity {
  font-size: 2.5rem;
}

.friends-list .card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.friends-list .card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
/*# sourceMappingURL=main.css.map */