@mixin mobile {
    @media (max-width: #{$deskton-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$deskton-width}) {
        @content;
    }
}

@mixin button {
    color: #fff;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    background-color: getColor(primary);
    transition: all 0.4s;                            
    border-radius: 3px;
    align-items: center;
}