@import './mixins.scss', './color.scss';

.profile-page {
	display: flex;
	flex-direction: column;
	
	.avatar-wrapper {
		display: flex;
		width: 400px;
		height: 400px;

		img {
			width: 100%;
			height: 100%;
		}
	}	

	button {
		@include button
	}	
}
